* {
	margin: 0;
	padding: 0;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-28px);
		transform: translateY(-28px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

body {
	background-color: #2C2020;
	font: 16px Poppins, sans-serif;
	color: #D9D3B3;
}

nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
	background-color: #499B8F;
	padding: 0.6em;
	padding-left: 1em;
	padding-top: 2em;
	padding-bottom: 2em;
}

#main {
	padding-top: 5em;
}

#menu {
	font-weight: bold;
}

#menu a {
	text-decoration: none;
	padding: 10px;
	color: #D9D3B3;
}

#menu a:hover {
	color: #F94D63;
}

.frases {
	margin-top: 8em;
	margin-left: 8em;
}

.frases h1 {
	font-size: 40px;
}

.frases p {
	color: #B2B2B2;
}

.other {
	color: #f94d63;
}

.redes img {
	width: 27px;
	height: 27px;
	padding-right: 5px;
}

.efeito:hover {
	animation: bounce 1s;
}

.projetos {
	margin-top: 15em;
	background-color: #A63467;
	padding-bottom: 35px;
}

.projs:hover {
	height: 22.5em;
	width: 13.4em;
}

.projetos h2 {
	text-align: center;
	padding-top: 2em;
	font-weight: bold;
}

.projetos p {
	text-align: center;
	margin-top: 1em;
}

.projs {
	height: 22em;
	width: 12.9em;
}

.sobre {
	padding-top: 5em;
}

.sobre h1 {
	font-size: 45px;
}

.ftperfil {
	width: 28em;
	height: 18em;
}

.contatos {
	background-color: #A63467;
	padding-top: 4em;
	padding-left: 5em;
	padding-bottom: 4em;
	overflow: hidden;
}

.contatos h4 {
	padding-top: 2.5em;
}

.contatos a {
	text-decoration: none;
	color: #D8D8D8;
}

.anime {
	opacity: 0;
	transform: translate3d(-100px,0,0);
	transition: .3s;
}

.anime-start {
	opacity: 1;
	transform: translate3d(0,0,0);
}

.contatos a:hover {
	text-decoration: underline;
}

.contatos p {
	color: #D8D8D8;
}

.contatos1 {
	float: left;
}

.contatos2 {
	float: left;
	margin-left: 5em;
}